/* about.css */

/* General Section Styles */
.about-section {
  /* padding: 4rem 1rem; */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  /* margin: 0 auto; */
  flex-wrap: wrap; /* Ensures the layout wraps on smaller screens */
}

.left-part {
  flex: 1;
  padding-right: 20px;
  margin-bottom: 2rem;
}

.right-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-heading {
  font-size: 1.125rem;
  color: #00c400;
  margin-bottom: 1rem;
  font-weight: bold;
}

.about-heading {
  font-size: 2.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.divider {
  width: 4rem;
  height: 0.125rem;
  background-color: #333;
  margin: 0 1rem;
  border-radius: 9999px;
}

.description {
  font-size: 1.125rem;
  max-width: 45rem;
  margin-bottom: 1.5rem;
}

.contact-link {
  font-weight: bold;
  color: #00c400;
  text-decoration: underline;
  transition: color 0.2s;
}

.contact-link:hover {
  color: #ffcc00;
}

.quote {
  font-style: italic;
  margin-top: 2rem;
  font-size: 1.125rem;
}

.author {
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-part {
    /* display: none; */
    /* padding-right: 0; */
    /* margin-bottom: 2rem; */
  }
  

  .about-heading {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .quote {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .about-heading {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.875rem;
    max-width: 100%;
  }.right-part {
    
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
    width: 0;
    padding-left: 150px;
  }

  
}
